USE [SupportTicketingSystem]
GO
/****** Object:  Table [dbo].[tbl_app_users]    Script Date: 7/26/2017 2:01:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_app_users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_app_users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_tickets]    Script Date: 7/26/2017 2:01:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tickets](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TicketID] [nvarchar](10) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nchar](500) NULL,
	[Category] [int] NOT NULL,
	[Severity] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[AssignedTo] [bigint] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_tbl_tickets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_app_users] ON 

INSERT [dbo].[tbl_app_users] ([ID], [Name], [Email], [Password]) VALUES (1, N'Chinu', N'chinu.manjaiah@saggezza.com', N'Saggezza@123')
SET IDENTITY_INSERT [dbo].[tbl_app_users] OFF
SET IDENTITY_INSERT [dbo].[tbl_tickets] ON 

GO
SET IDENTITY_INSERT [dbo].[tbl_tickets] OFF
